input {
    keyboard {
        xkb {
            layout "us"
        }
    }
}

binds {
    Alt+Return { spawn "foot"; }
    Alt+D { spawn "fuzzel"; }
    Alt+Shift+Q { close-window; }
    Alt+Shift+E { quit; }

    Alt+H { focus-column-left; }
    Alt+L { focus-column-right; }
    Alt+J { focus-window-or-workspace-down; }
    Alt+K { focus-window-or-workspace-up; }

    Alt+Shift+H { move-column-left; }
    Alt+Shift+L { move-column-right; }
    Alt+Shift+J { move-window-down-or-to-workspace-down; }
    Alt+Shift+K { move-window-up-or-to-workspace-up; }

    Alt+F { maximize-column; }
    Alt+Shift+Space { toggle-window-floating; }

    Alt+1 { focus-workspace 1; }
    Alt+2 { focus-workspace 2; }
    Alt+3 { focus-workspace 3; }
    Alt+4 { focus-workspace 4; }
    Alt+5 { focus-workspace 5; }

    Alt+Shift+1 { move-window-to-workspace 1; }
    Alt+Shift+2 { move-window-to-workspace 2; }
    Alt+Shift+3 { move-window-to-workspace 3; }
    Alt+Shift+4 { move-window-to-workspace 4; }
    Alt+Shift+5 { move-window-to-workspace 5; }
}

spawn-at-startup "foot"
